/* CardSlider.css */
.slider-card {
    padding: 0 10px;
  }
  .slick-slide {
    display: flex;
    justify-content: center;
  }
  .trendsetters-image {
    width: 100%;
    height: auto;
  }
  .card-title1 {
    font-family: "Futura Regular", sans-serif;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
  }
  .slick-prev:before, .slick-next:before {
    color: rgb(255, 255, 255); /* Customize the arrow color as needed */
  }

  @media (max-width: 768px) {
    .slider-card {
      padding: 0%;
    }
    
  }