/* src/components/SectionHeader.css */
.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    background-color: #f9f9f9; /* Match the background color to your design */
  }
  
  .line {
    flex-grow: 8;
    height: 5px;
    background-color: #e4f265; /* Match the line color to your design */
    border: none;
    margin: 4 2px;
  }
  
  .section-text {
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Futura Regular", sans-serif;
    color: #333; /* Match the text color to your design */
  }
  