.search-container {
    width: 100vh;
    padding-top: 30px;
}

input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 65px;
    padding: 0 20px;
    font-size: 1.3rem;
    border: 1px solid #D0CFCE;
    outline: none;
    border-radius: 30px;

    &:focus {
        border: 1px solid #000;
        transition: 0.35s ease;
        color: #000;

        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}

.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -70px;
    right: 25px;
}

.vertical-line {
    height: 83vh;
    width: 1px;
    background-color: #000;
    opacity: .25;
}

.title-text {
    color: #000;
    font-size: 20px;
    cursor: pointer;
}

.subtitle-text a {
    color: #000;
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-size: 17px;
    margin-top: 18px;
    transition: color 0.3s ease;
}

.subtitle-text a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.5px;
    display: block;
    left: 0;
    bottom: -3px;
    background: #000;
    transition: width 0.3s ease;
}

.subtitle-text a:hover::after {
    width: 100%;
    height: 0.5px;
}

.subtitle-text a:hover {
    color: #000;
}

.magazine-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.magazine-item img {
    margin-right: 20px;
}

.magazine-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.magazine-title {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .025rem;
    line-height: 1.25rem;
    margin-left: 50px;
}

.magazine-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .025rem;
    line-height: 1.25rem;
    margin-left: 50px;
}

.products-box {
    flex-grow: 1;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.product-item img {
    max-width: 410px;
    height: 210px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

}

.product-item img:hover {
    transform: scale(.9);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-title {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: .025rem;
    line-height: 1rem;
}